.created {
  &__icon.verify__icon {
    margin-top: 198px;
  }

  &__description {
    max-width: 310px;
    padding-bottom: 51px;
  }

  &__links {
    margin-top: auto;
    padding-top: 30px;
  }

  &__button.verify__button {
    max-width: 321px;
  }
}
